@page "/"
@namespace HelloWorld.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello, NDC Oslo!</title>
    <base href="~/" />
    <link href="site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <app>@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))</app>
    </div>
</body>
</html>
